h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: -0.5px;
}
a{
  font-weight: 500;
}
.setMaxWidth{
  max-width: 450px;
}
.screenHeight {
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
}
.autoMargin {
  margin: 0 auto;
}
.mar-left {
  margin-left: 10px;
}
.mar-right {
  margin-right: 10px;
}
.mar-top {
  margin-top: 10px;
}
.mar-bottom {
  margin-bottom: 10px;
}
.mar-all {
  margin: 10px;
}
.mar-no {
  margin: 0 !important;
}
.pad-left {
  padding-left: 10px;
}
.pad-right {
  padding-right: 10px;
}
.pad-top {
  padding-top: 10px;
}
.pad-bottom {
  padding-bottom: 10px;
}
.pad-all {
  padding: 10px;
}
.pad-no {
  padding: 0 !important;
}
#formContainer{
  width: 200%;
  position: relative;
}
.input-fields-div {
  width: 90%;
}
.logoImage {
  display: block;
  margin: 10px auto;
  max-height: 30px;
}
.clearfix {
  width: 100%;
  clear: both;
}
.gmailStyle{
  margin: 0;
  padding: 0;
}
.gmailStyle input[type=text]:not(.browser-default):focus:not([readonly]),
.gmailStyle input[type=password]:not(.browser-default):focus:not([readonly]) {
  box-shadow: 0px 0 1px #26a69a;
  border: 1px solid #26a69a;
}
.gmailStyle input[type=text]:not(.browser-default),
.gmailStyle input[type=password]:not(.browser-default) {
  border: 1px solid #dadce0;
  text-indent: 10px;
}
.gmailStyle .input-field>label:not(.label-icon).active {
  width: auto !important;
  background: #FFFFFF;
  left: 10px;
  top: 3px;
  padding-left: 5px;
  padding-right: 5px;
  text-indent: 0;
}
.gmailStyle .input-inline-field .input-field>label:not(.label-icon).active {
  left: 20px;
}
.gmailStyle .input-field>label {
  width: 98%;
  text-indent: 10px;
}
.gmailStyle .scale-transition.scale-out {
  height: 0;
  margin: 0;
}
.gmailStyle .input-field {
  margin-bottom: 0;
}
.passwordOrOTP {
  display: inline-block;
  margin-top: 1rem;
}
.hidden {
  visibility: hidden;
}
.overflowHidden {
  overflow: hidden;
}
.loginForm, .signUpForm {
  position: relative;
  width: 50%;
  float: left;
}
#reg_passwordDiv, #passwordDiv{position: relative;}
#formContainer.goLeft {
  -webkit-animation: slideLeft 0.2s forwards;
  animation: slideLeft 0.2s forwards;
}
#formContainer.goRight {
  -webkit-animation: zeroLeft 0.2s forwards;
  animation: zeroLeft 0.2s forwards;
}
.showPassword {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  right: 10px;
}
.input-inline-field .showPassword{
  right: 15px;
}
@-webkit-keyframes slideLeft {
  from { left: 0; }
  to { left: -100%; }
}
@keyframes slideLeft {
  from { left: 0; }
  to { left: -100%; }
}
@-webkit-keyframes zeroLeft {
  from { left: -100%; }
  to { left: 0; }
}
@keyframes zeroLeft {
  from { left: -100%; }
  to { left: 0; }
}
